@import "../variables.scss";

.c_homePage {}

.c_homeHero {
    height: 600px;

    background-color: $primary;

    display: grid;
    grid-template-areas:
        "img"
        "title";
    grid-template-rows: minmax(1fr 450px) 150px;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
}

.c_homeHero__title {
    grid-area: title;
    text-align: center;
}

.c_homeHero__titleText {
    font-family: $font-nobile;
    font-size: 3rem;
    margin: 0;
}

.c_homeHero__titleSubtext {
    font-family: Pridi;
    font-weight: 300;
    font-size: 1rem;
}

.c_homeHero__img {
    grid-area: img;
    max-height: 450px;
}

.c_homePanel {
    padding: 2rem;

    &.c_homePanel--alt {
        background-color: $primary;

        .c_homePanel__heading {
            text-align: right;
        }
    }
}

.c_homePanel__heading {
    font-family: Pridi;
    text-transform: lowercase;
    margin-bottom: 2rem;
}

.c_homePanel__email {
    font-family: Pridi;
    display: inline-block;
    text-transform: lowercase;
    margin: 2rem 0;
}
