---
import AboutMeContent from "@content/pages/about-me.md";
import BasePageLayout from "@layouts/BasePageLayout.astro";
---

<BasePageLayout>
  <div class="mx-auto max-w-3xl py-4">
    <article class="prose mx-auto md:prose-lg prose-headings:font-heading">
      <h1 class="text-center underline">about me</h1>
      <AboutMeContent />
    </article>
  </div>
</BasePageLayout>
