// HindMadurai
@font-face {
    font-family: HindMadurai;
    font-weight: normal;
    src: url('/fonts/Hind_Madurai/HindMadurai-Regular.ttf') format('truetype');
}

@font-face {
    font-family: HindMadurai;
    font-weight: bold;
    src: url('/fonts/Hind_Madurai/HindMadurai-Bold.ttf') format('truetype');
}

// Nobile
@font-face {
    font-family: Nobile;
    font-weight: bold;
    font-style: italic;
    src: url('/fonts/Nobile/Nobile-BoldItalic.ttf') format('truetype');
}

// Pridi
@font-face {
    font-family: Pridi;
    font-style: normal;
    src: url('/fonts/Pridi/Pridi-Regular.ttf') format('truetype');
}

@font-face {
    font-family: Pridi;
    font-style: normal;
    font-weight: 300;
    src: url('/fonts/Pridi/Pridi-ExtraLight.ttf') format('truetype');
}

