---
import "../styles/global.css";

import BaseHead from "@components/BaseHead.astro";
import SiteFooter from "@components/SiteFooter.astro";
import SiteNavigation from "@components/SiteNavigation.astro";

type Props = {
  title: string;
  description?: string;
};

const props = Astro.props;
---

<!doctype html>
<html lang="en">
  <BaseHead
    title={props.title}
    description={props.description}
  />
  <body>
    <div class="grid w-full grid-cols-[1fr] grid-rows-[auto_1fr]">
      <SiteNavigation />
      <main>
        <div class="min-h-full p-4 lg:p-8">
          <slot />
        </div>
      </main>
      <SiteFooter />
    </div>
  </body>
</html>
